#GOOGLE APP ID AND SECRET KEY
APP:
  ID: 844717647114774
  SECRET: 31d596fd4632b3d8f17f23ceaeb4dffd

#SMS CONFIGURATION
CLIENT:
  ID: 1086646556890-1j25hvfgpjmud4vus1t0lt010d1s6brf.apps.googleusercontent.com
SMS-MESSAGE: 'Your verification otp for login in AIGL is :'
TWILIO_ACCOUNT_SID: enter twilio account sid
TWILIO_AUTH_TOKEN: enter twilio account token
TWILIO_NUMBER: 1234567890

#EUREKA SERVER CONFIGURATION
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

# JWT AUTHENTICATION SECRET KEY
secret:
  key: 774488559966abcsdefghijklmnopqrstuvwxyz1234567890

# DATABASE AND JPA CONFIGURATION
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: Java@2023
    username: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true

  # MULTIPART CONFIGURATION
  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB

 # FILE UPLOAD DIR     
upload:
  path: E:\javaprojects\AIGL-28-08-2023\FileService\src\main\resources\static\
